In [60]:
import pandas as pd


# first row is the header
df = pd.read_csv('./btn_givennames_synonyms.txt', sep='\t', header=0)

# df = pd.read_csv("./test_set.csv", header=0)

In [61]:
df

           name gender          related
0      Aabraham      m             Aapo
1          Aada      f              Ada
2         Aadan      m              NaN
3        Aadolf      m  Aatto,Aatu,Atte
4         Aafje      f              NaN
...         ...    ...              ...
25590     Žydrė      f              NaN
25591  Žydrūnas      m              NaN
25592   Zygfryd      m              NaN
25593   Zygmunt      m              NaN
25594      Zyta      f              NaN

[25595 rows x 3 columns]

In [62]:
def transform_dataset(df):
    # Load the dataset

    # Filter out rows where 'related' is NaN
    filtered_dataset = df.dropna(subset=['related'])

    # Create a new DataFrame for the transformed data
    transformed_data = []
    for index, row in filtered_dataset.iterrows():
        name = row['name']
        related_names = row['related'].split(',')
        for related_name in related_names:
            transformed_data.append([name, related_name])

    # Converting the list to a DataFrame
    transformed_df = pd.DataFrame(
        transformed_data, columns=['name', 'relation to'])
    transformed_df.to_csv('./transformed_dataset.csv', index=False)
    return transformed_df


# Example usage
if __name__ == "__main__":
    file_path = df
    transformed_df = transform_dataset(file_path)
    # Display the first few rows of the transformed DataFrame
    print(transformed_df.head())

       name relation to
0  Aabraham        Aapo
1      Aada         Ada
2    Aadolf       Aatto
3    Aadolf        Aatu
4    Aadolf        Atte

In [64]:
from neo4j import GraphDatabase

uri = "neo4j://localhost:7687"  # Replace with your Neo4j instance URI
username = # Replace with your username
password =  # Replace with your password

class Neo4jConnection:

    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__password = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(uri, auth=(user, pwd))
        except Exception as e:
            print("Failed to create the driver:", e)
        
    def close(self):
        if self.__driver is not None:
            self.__driver.close()
        
    def query(self, query, parameters=None, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try:
            session = self.__driver.session(database=db) if db is not None else self.__driver.session() 
            response = list(session.run(query, parameters))
        except Exception as e:
            print("Query failed:", e)
        finally:
            if session is not None:
                session.close()
        return response

# Connect to Neo4j
conn = Neo4jConnection(uri, username, password)

# Execute a query
query = """
MATCH (n)
RETURN n, SIZE([(n)--()|1]) AS connections
ORDER BY connections DESC
LIMIT 5
"""
nodes = conn.query(query)

# Do something with the result
for node in nodes:
    print(node)

# Close the connection
conn.close()

<Record n=<Node element_id='4:4eb5fdec-d57f-4b38-b5dd-01f811187cd8:6778' labels=frozenset({'Name'}) properties={'gender': 'f', 'name': 'Ella'}> connections=236>
<Record n=<Node element_id='4:4eb5fdec-d57f-4b38-b5dd-01f811187cd8:10741' labels=frozenset({'Name'}) properties={'gender': 'f', 'name': 'Ina'}> connections=183>
<Record n=<Node element_id='4:4eb5fdec-d57f-4b38-b5dd-01f811187cd8:22945' labels=frozenset({'Name'}) properties={'gender': 'f', 'name': 'Tina'}> connections=168>
<Record n=<Node element_id='4:4eb5fdec-d57f-4b38-b5dd-01f811187cd8:14133' labels=frozenset({'Name'}) properties={'gender': 'f', 'name': 'Lisa'}> connections=150>
<Record n=<Node element_id='4:4eb5fdec-d57f-4b38-b5dd-01f811187cd8:6793' labels=frozenset({'Name'}) properties={'gender': 'f', 'name': 'Elly'}> connections=145>